<template name="pollForm">

<form class="form-hinl"> 
    <div class="form-group">
        <h2>New Recipe</h2>
        <input type="text" name="question" class="form-control" placeholder="Recipe Name">
    </div>

    <div class="form-group row">
        <div class="col-sm-9">  
            <input type="text" name="ingredient1" class="form-control" placeholder="Ingredient #1" required>
        </div>
        <div class="col-sm-3">
            <input type="number" name="ingredient1Amount" step="100" min="100" class="form-control" placeholder="grams" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">
            <input type="text" name="ingredient2" class="form-control" placeholder="Ingredient #2" required>
        </div>
        <div class="col-sm-3">
            <input type="number" name="ingredient2Amount" step="100" min="100" class="form-control" placeholder="grams" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9">
            <input type="text" name="ingredient3" class="form-control" placeholder="Ingredient #3" required>
        </div>
        <div class="col-sm-3">
            <input type="number" name="ingredient3Amount" step="100" min="100" class="form-control" placeholder="grams" required>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Create Recipe</button>
</form>

</template>